.header__title{
  color: green; 
  font-style: oblique;
  font-size: medium;
  font-synthesis: none;
  font-family: 'Source Sans Pro', sans-serif;
 }
body{
 background: yellow;
 border-style: solid; 
 border-color: gold green red blue;
 border-width: 10px;
 top: 20px;
 font-family: fantasy;
 font-family: 'Rubik', sans-serif;
 }